@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono&family=Josefin+Sans:wght@600&family=Jost:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 20px 120px;
    position: absolute;
}

nav .logo p{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    float: left;
    color:white;
    text-transform: uppercase;
    Letter-spacing: 1.5px;
    cursor: pointer;
}

nav .logo p:hover{
    color: #b7cee8;
    transition: 1.5s;
}

nav ul{
    float: right;
    font-family: Montserrat;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}

nav li a:hover{
    color: rgb(255, 251, 0);
    transition: 1.5s;
}

.hero_img img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container1{
    position: absolute;
    top: 280px;
    left: 200px;
}

.welcome h1{

  background-image: linear-gradient(
    -225deg,
    #eef3fa 0%,
    #e8eff8 29%,
    #cadaee 67%,
    #c4d6ec 100%
  );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*body*/

.container1{
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 60px;
    width: 90vw;
    height: 80vh;
    border-radius: 30px;
    background-color: #3c78c0;
}

.title1{
    animation: fadeIn 3s;
    position: absolute;
    left: 300px;
    top: 15px;
    font-family: Montserrat;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #214269 0%,
    #214269 29%,
    #09131f 67%,
    #070f18 100%
  );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

.video{
    animation: fadeIn 3s;
    position: absolute;
    top: 70px;
    left: 50px;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
}

.line{
    position: absolute;
    left: 740px;
    top: 150px;
    animation: fadeIn 3s;
}

.line img{
    opacity: .6;
    width: 1.5px;
    height: 300px;
}

.title2{
    animation: fadeIn 3s;
    position: absolute;
    left: 985px;
    top: 15px;
    font-family: Montserrat;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #214269 0%,
    #214269 29%,
    #09131f 67%,
    #070f18 100%
  );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

.interest img{
    width: 150px;
    border-radius: 40px;
    border: 4px solid #09131f;
}

.hsr{
    position: absolute;
    left: 790px;
    top: 70px;
    animation: fadeIn 5s;
}

.genshin{
    position: absolute;
    left: 990px;
    top: 70px;
    animation: fadeIn 6s;
}

.ml{
    position: absolute;
    left: 1190px;
    top: 70px;
    animation: fadeIn 7s;
}

.draw img{
    width: 450px;
    height: 300px;
    border-radius: 30px;
    border: 4px solid #09131f;
}

.draw{
    position: absolute;
    left: 840px;
    top: 250px;
    animation: fadeIn 8s;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}